.top-nav {
    position: absolute;
    top: 25px;
    right: 140px;
    z-index: 1000;
}

.btn-logout {
    display: inline-block;
    padding: 10px 24px;
    background: var(--soft-blue); 
    color: var(--primary-blue);
    border: 1.5px solid var(--border-blue);
    border-radius: 12px;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-logout:hover, 
.btn-logout:active {
    background: #ff4757; 
    color: #ffffff;
    border-color: #ff4757;
    transform: scale(0.95);
    box-shadow: 0 4px 12px rgba(255, 71, 87, 0.3);
}



/* untuk tombol kembali di user kos dasboard*/
.btn-back {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #64748b;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
    transition: 0.3s;
}
.btn-back:hover { color: var(--primary); }